*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(175, 151, 151);
}

.container{
  width: 1200px;
  margin: 0 auto;
  padding-top: 200px;
  text-align: center;
}

.img{
  width: 200px;
  
}